<!DOCTYPE html>
<html>
    <head>
        <title>Calendar | Creator's Engine</title>
        <script>
            async function addEvent() {
                const event =
                document.getElementById("event").value;
                const date =
                document.getElementById("date").value;
                const res = await fetch("/calendar", {
                    method: "POST",
                    headers: {"content-Type": "application/x-www-form-urlencoded"},
                    body: 'event=${encodeURLComponent(event)}&date=${encodeURLComponent(date)}'
                })
                const data = await res.json();
                document.getElementById("output").textContent = data.status || data.console.error();
                
                
            }
        </script>
    </head>
    <body>
        <h1>Calendar</h1>
        <input id="event" placeholder="Event name">
        <input id="date" type="date">
        <button> onclick="addEnent()">Add Event</button>
        <div id="output"></div>
    </body>
</html>